@import "shared";

.co-book-details-card {
    .book-image {
        width: 100%;

        .image {
            width: 100%;
        }

        .buttons-wrapper {
            position: absolute;
            bottom: 50px;
            left: 0;
            width: 100%;
        }
    }
}

.co-gallery-card-images {
    position: relative;
    padding: 20px;

    .co-images {
        width: 240px;
        height: 240px;
        position: relative;
        margin: auto;
        padding: 20px;
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            position: absolute;

            &.image-1 {
                transform: rotate(-8deg);
            }

            &.image-2 {
                transform: rotate(8deg);
            }
        }
    }
}

.into-section {
    position: relative;

    .co-intro {
        display: flex;
        background-image: url(../images/intro-shape-sm.svg), url(../images/intro-shape-lg.svg);
        background-repeat: no-repeat;
        background-position:
            100% 0,
            0 0;
        background-size: auto 100%;
        position: relative;

        .co-hero-image {
            img {
                height: calc(100vh - 100px);
                margin: auto;
                display: block;
                margin-inline-end: 25%;
            }
        }
    }

    .co-nav-menu {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--color-secondary-50);

        .nav-menu {
            display: flex;
            padding: 10px 0;
            margin: 0;
            list-style: none;

            a.menu-link {
                padding: 15px 15px;
                display: inline-flex;
                text-shadow: 0 0 5px #000;
                color: #fff;
                margin-inline-end: 10px;

                &.active,
                &:hover {
                    background-color: var(--color-primary);
                    border-radius: var(--main-border-radius);
                }
            }
        }
    }
}
