:root {
  --color-primary: #d9b15b;
  --color-primary-dark: #b48f41;
  --color-secondary: #002a41;
  --color-secondary-dark: #001723;
  --color-secondary-50: #00172385;
  --color-secondary-80: #001723b0;
  --color-gray-light: #f7f7f9;
  --color-gray: #a0aabe;
  --color-gray-dark: #707070;
  --color-success: #28a745;
  --color-success-dark: #218838;
  --color-danger: #dc3545;
  --color-danger-dark: #c82333;
  --main-border-radius: 10px;
  --main-transition: all ease 0.3s;
  --main-box-shadow: 0 0 8px #d1d8e7;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.color-white {
  color: #fff;
}

.color-gray {
  color: var(--color-gray);
}

.bg-gray-light {
  background-color: var(--color-gray-light);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-gray-dark {
  background-color: var(--color-gray-dark);
}

.me-1 {
  margin-inline-end: 5px;
}

.me-2 {
  margin-inline-end: 10px;
}

.me-3 {
  margin-inline-end: 15px;
}

.me-4 {
  margin-inline-end: 20px;
}

.me-5 {
  margin-inline-end: 25px;
}

.ms-1 {
  margin-inline-start: 5px;
}

.ms-2 {
  margin-inline-start: 10px;
}

.ms-3 {
  margin-inline-start: 15px;
}

.ms-4 {
  margin-inline-start: 20px;
}

.ms-5 {
  margin-inline-start: 25px;
}

a {
  color: var(--color-primary);
}
a:hover {
  color: var(--color-primary-dark);
  text-decoration: none;
}

ul.reset-ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.show-line-1 {
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
}

.show-line-2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  width: fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.btn {
  padding: 0.8rem 1.5rem;
  border-radius: var(--main-border-radius);
}

.btn-primary {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn-primary:hover {
  color: var(--color-primary-dark);
  background-color: #fff;
  border-color: var(--color-primary-dark);
}

.btn-secondary {
  color: #fff;
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.btn-secondary:hover {
  color: var(--color-secondary-dark);
  background-color: #fff;
  border-color: var(--color-secondary-dark);
}

.btn:focus,
.btn.focus {
  box-shadow: none !important;
}

.btn-action {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  line-height: 0;
  border-radius: 500px;
}

.btn-link {
  font-weight: 400;
  color: var(--color-primary);
  text-decoration: none;
}
.btn-link:hover {
  color: var(--color-primary);
}

.swiper-wrapper {
  margin: 15px 0px;
}

.co-swiper-slider {
  width: 100%;
  height: fit-content;
  position: relative;
}
.co-swiper-slider .swiper-button-prev,
.co-swiper-slider .swiper-button-next {
  color: var(--color-primary);
  font-size: 22px;
  background: var(--color-secondary-80);
  width: 50px;
  height: 50px;
  border-radius: 500px;
}
.co-swiper-slider .swiper-button-prev:hover,
.co-swiper-slider .swiper-button-next:hover {
  background: var(--color-secondary-dark);
}
.co-swiper-slider .swiper-button-prev:after,
.co-swiper-slider .swiper-button-next:after {
  display: none;
}
.co-swiper-slider .swiper-button-prev {
  margin-inline-start: -35px;
}
.co-swiper-slider .swiper-button-next {
  margin-inline-end: -35px;
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?pu6gpy");
  src: url("fonts/icomoon.eot?pu6gpy#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?pu6gpy") format("truetype"), url("fonts/icomoon.woff?pu6gpy") format("woff"), url("fonts/icomoon.svg?pu6gpy#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e900";
}

.icon-book-open-2:before {
  content: "\e901";
}

.icon-book-open-1:before {
  content: "\e902";
}

.icon-headphone:before {
  content: "\e903";
}

.icon-sound-waves:before {
  content: "\e904";
}

.icon-video-1:before {
  content: "\e905";
}

.icon-video-2:before {
  content: "\e906";
}

.icon-title-shape-left:before {
  content: "\e907";
}

.icon-title-shape-right:before {
  content: "\e908";
}

.icon-arrow-left:before {
  content: "\e909";
}

.icon-arrow-right:before {
  content: "\e90a";
}

@font-face {
  font-family: DIN;
  src: url(fonts/din-regular.ttf);
  font-weight: normal;
}
body {
  font-size: 16px;
  font-family: DIN;
}

.social-media-links.links-lg .link {
  width: 45px;
  height: 45px;
  font-size: 22px;
}
.social-media-links .link {
  color: #ffffff;
  background: var(--color-secondary);
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-radius: 200px;
}

.social-media-links-colored.links-lg .link {
  width: 45px;
  height: 45px;
  font-size: 22px;
}
.social-media-links-colored .link {
  background: #000;
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}
.social-media-links-colored .link:hover {
  color: #fff;
}
.social-media-links-colored .link.facebook {
  background: #1975d1;
}
.social-media-links-colored .link.twitter {
  background: #50aaf0;
}
.social-media-links-colored .link.whatsapp {
  background: #29a61a;
}
.social-media-links-colored .link.telegram {
  background: #3fa8f4;
}

.article-card {
  display: flex;
  border: 1px solid var(--color-gray-light);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  overflow: hidden;
  transition: var(--main-transition);
}
.article-card .image-wrapper {
  width: 30%;
}
.article-card .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1.3;
}
.article-card .details-wrapper {
  flex-grow: 1;
  width: 70%;
  padding: 10px 15px;
}
.article-card .details-wrapper .title {
  font-size: 1rem;
}
.article-card .details-wrapper .time {
  font-size: 0.9rem;
}

.overlay, .co-video-card .video-card:after {
  content: "";
  position: absolute;
  background: var(--color-secondary-50);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay:hover, .co-video-card .video-card:hover:after {
  background: var(--color-secondary-80);
}

.co-video-card .video-card {
  background-size: cover;
  height: 180px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  position: relative;
  border-radius: var(--main-border-radius);
  overflow: hidden;
}
.co-video-card .video-card * {
  position: relative;
  z-index: 1;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr !important;
}
.section-header .icon {
  font-size: 55px;
  color: var(--color-primary);
}

.co-icon-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.co-icon-card a {
  border-radius: 500px;
}
.co-icon-card i.icon {
  color: #d9b15b;
  font-size: 54px;
  background: var(--color-secondary);
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  border: 20px solid #efe5d2;
}

.co-partner-card {
  margin: 0px;
  border-radius: 10px;
}
.co-partner-card img {
  height: 100%;
  width: auto;
  margin: auto;
  display: block;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 30px #f0f0f0;
  padding: 10px;
}

.min-w-130px {
  min-width: 130px;
}

.swiper-slide-content {
  padding: 0 4px;
}

html[dir=rtl] body {
  text-align: right;
}
html[dir=rtl] .co-swiper-slider .swiper-button-prev {
  left: unset !important;
  right: var(--swiper-navigation-sides-offset, 10px) !important;
  transform: rotate(180deg);
}
html[dir=rtl] .co-swiper-slider .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px) !important;
  right: unset !important;
  transform: rotate(180deg);
}

.co-book-details-card .book-image {
  width: 100%;
}
.co-book-details-card .book-image .image {
  width: 100%;
}
.co-book-details-card .book-image .buttons-wrapper {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
